/* The color of the page will be black. */
body 
{  
	background-color: black;
}  

/* In the top menu in Index.html we have this properties. */
#topMenu
{
	text-align: center;
	font-family: Arial;
	box-sizing: border-box; /* Adding border to the box. */  
}

/* In the bottom menu in Index.html we have this properties. */
#bottomMenu
{
	box-sizing: content-box;  
	text-align: center;
  font-family: Arial;
}

span
{
	background-color: grey;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(78, 78, 190);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active 
{
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

div.news1
{
  position: absolute;
 margin-top: 30px;
 margin-left: 200px; 
 display: none;
}

/* Drop button in topmenu in Index.html. */
.dropbtn
{
	background-color: #000000;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;   /* The cursor is a pointer and indicates a link. */
}

/* The main drop down properties. */
.dropdown
{
	position: relative; /* Positioned relative to its normal position. */
	display: inline-block;  /* The element itself is formated as an inline element, but it can apply height and width values. */
}

.dropdown-content 
{
	display: none;
	position: absolute;
	background-color: blue;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a 
{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background-color: #00008B;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn 
{
	background-color: blue;
}
