/* The CSS file that controls Index.html. */

/* The color of the page will be black. */
body 
{  
	background-color: black;
}  

/* In the top menu in Index.html we have this properties. */
#topMenu
{
	text-align: center;
	font-family: Arial;
	box-sizing: border-box; /* Adding border to the box. */  
}

/* In the bottom menu in Index.html we have this properties. */
#bottomMenu
{
	box-sizing: content-box;  
	text-align: center;
  	font-family: Arial;
}

/* Element which is used to color a part of. */
span
{
	background-color: grey;	/* The background color which is in span is grey. */
}

/*  A link that has not been visited. */
a:link 
{
	color: white;
  	background-color: transparent;
  	text-decoration: none;
}

/* A link that has been visited. */
a:visited 
{
	color: white;
  	background-color: transparent;
  	text-decoration: none;
}

/* A link with effects when the user has a pointer on it. */
a:hover 
{
  	background-color: #CDCDCD;
}

/* What happens when the link is clicked. */
a:active 
{
  	background-color: transparent;
  	text-decoration: underline;
}

.newsimage
{
	position: absolute;
	margin-right: 0px;
	padding-left: 100px;
	padding-top: 120px;
	margin-bottom: 0px;
	display: none;
}
/*
.newsimage
{
	margin-right: -200px;
	padding-left: 200px;
	padding-top: 100px;
	margin-bottom: 200px;
	display: none;
}
*/


/* Drop button in topmenu in Index.html. */
.dropbtn
{
	background-color: #000000;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;   /* The cursor is a pointer and indicates a link. */
}

/* The main drop down properties. */
.dropdown
{
	position: relative; /* Positioned relative to its normal position. */
	display: inline-block;  /* The element itself is formated as an inline element, but it can apply height and width values. */
}

.dropdown-content 
{
	display: none;
	position: absolute;
	background-color: blue;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a 
{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background-color: #00008B;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn 
{
	background-color: blue;
}
